@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <title>Plant Tips</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .card {
            width: 245px;
            text-align: center;
        }

            .card img {
                width: 100%;
                height: auto;
            }

            .card .number {
                font-size: 24px;
                color: orange;
                font-weight: bold;
            }

            .card .title {
                font-size: 16px;
                margin-top: 5px;
            }
    </style>
</head>
<body>
    <div class="container">

        <div class="card">
            <img src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg" alt="Plant Image" />
            <div class="number">1</div>
            <div class="title">5 Helpful Tips for Growing Healthy Succulents</div>
        </div>

         <div class="card">
            <img src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg" alt="Plant Image" />
            <div class="number">1</div>
            <div class="title">5 Helpful Tips for Growing Healthy Succulents</div>
        </div>

         <div class="card">
            <img src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg" alt="Plant Image" />
            <div class="number">1</div>
            <div class="title">5 Helpful Tips for Growing Healthy Succulents</div>
        </div>

        <div class="card">
            <img src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg" alt="Plant Image" />
            <div class="number">1</div>
            <div class="title">5 Helpful Tips for Growing Healthy Succulents</div>
        </div>

        <div class="card">
            <img src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg" alt="Plant Image" />
            <div class="number">1</div>
            <div class="title">5 Helpful Tips for Growing Healthy Succulents</div>
        </div>

    </div>
</body>